body{
    background-image: linear-gradient(to right bottom, #cab3e3, #d1a9d2, #d5a1bf, #d49aad, #cf949b);
}
h1{
    font-family: 'Audiowide', cursive;
    color: #fdfdfd;
    padding: 0.8em;
}

.a1{
    margin: 10px;
}
input{
    color: #1d302f;
}

.c4,.c3,.c2,.c1{
    margin: 10px;
}
td{
    border: 2px solid;
    border-collapse: collapse;
    border-color: black;
}
